.main-layout {

  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.homepage-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5em;
}

.homepage-image {
  background-image: url("/site-images/homepage-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
