.no-page {
  // padding-top: 100px;
  font-size: 30px;
  // padding-top: 80px;
  color: red;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}