.add-product {
  padding-top: 100px;
  background-color: black;
  color: white;
  min-height: 100vh;
  background-image: url("../../site-images/BannerConsumer.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .add-product-container {
    background-color: black;
    opacity: 0.9;
    width: 60%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .new-title {
      font-size: 25px;
      text-align: center;
      text-decoration: underline;
    }

    textarea,
    .input {
      border: none;
      background-color: rgb(171, 171, 171);
      outline: none;
      height: 30px;
      width: 300px;
      border-radius: 5px;
      font-size: 13px;
      line-height: normal;
      resize: none;
    }

    .new-price::-webkit-outer-spin-button,
    .new-price::-webkit-inner-spin-button {
      display: none;
      margin: 0;
    }
    .select-tag-inadd {
      background-color: rgb(171, 171, 171);
      height: 30px;
      min-width: 100px;
    }

    .all-display {
      display: flex;
      align-items: center;
      margin-top: 1em;

      .display-in-add {
        accent-color: yellow;
      }
    }
  }
}

::placeholder {
  color: white;
}

.individuals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.add-button {
  width: 50%;
  margin: 10px auto 0 auto;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: rgb(60, 60, 255);
  padding: 1em;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
