.shopping-cart {
  padding-top: 120px;
  padding-bottom: 30px;
  min-height: 100vh;
  margin: auto;
  background-color: black;
  color: white;

  .cart-container {
    background-color: rgb(29, 29, 29);
    width: 80%;
    margin: auto;
    border-radius: 12px;

    @media screen and (max-width: 700px) {
      width: 95%;
    }

    .cart-title {
      text-align: center;
      font-size: 25px;
      padding-bottom: 20px;
      padding-top: 1em;

      @media screen and (max-width: 700px) {
        font-size: 20px;
      }
    }

    .cart-count {
      width: 80%;
      margin: auto;
      color: rgb(0, 161, 0);
      font-weight: bold;
      font-size: 20px;

      @media screen and (max-width: 700px) {
        font-size: 17px;
      }
    }
  }
}

table {
  text-align: left;
  width: 80%;
  margin: auto;
}

.headers {
  font-size: 22px;
  width: 90%;
  margin: auto;

  @media screen and (max-width: 700px) {
    font-size: 15px;
  }

  th {
    border-bottom: 1px solid rgb(203, 203, 203);
  }
}

.data-in-table {
  td {
    border-bottom: 1px solid rgb(208, 208, 208);
  }
}

.item-name {
  width: 70%;
  font-weight: bold;
  margin-bottom: 1em;
  @media screen and (max-width: 700px) {
    font-size: 15px;
  }
}

.remove-button {
  border: none;
  text-align: left;
  padding: 0;
  background-color: #1d1d1d;
  color: red;
  text-decoration: underline;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
  }
}

.minus-quantity-plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
}

.plus-minus-button {
  border: none;
  background-color: #1d1d1d;
  letter-spacing: 0;
}

.fa-square-minus,
.fa-square-plus {
  color: white;
  font-size: 15px;
  letter-spacing: 0;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.image-to-desc {
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;
}

.name-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-in-cart {
  width: 150px;
  margin-right: 2em;

  @media screen and (max-width: 700px) {
    width: 70px;
  }
}

.taxes-total {
  margin: 10px auto;
  font-size: 17px;
  width: 20%;
}

.taxes,
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 700px) {
    font-size: 15px;
  }

  &.total {
    color: rgb(0, 206, 0);
    font-weight: bold;
    font-size: 20px;
  }
}

.pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
