.thank-you {
  font-size: 30px;
  // padding-top: 80px;
  color: green;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
