.nav-buttons {
  text-align: center;
  background-color: black;
  // overflow: auto;
  border-bottom: 2px solid green;
  position: fixed;
  width: 100%;

  button {
    padding: 1em 3em;
    margin: 0.5em;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;

    a:hover {
      padding-bottom: 1em;
      color: grey;
      cursor: pointer;
      border-bottom: 2px solid yellow;
    }
  }
}