.color-list {
  display: flex;
  justify-content: center;
}

.color-selected {
  border: 2px solid red;
  border-radius: 50%;
}

.color-button {
  align-self: center;
  margin: 0.2em;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0.3em solid grey;

  &:hover {
    cursor: pointer;
  }
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}
